* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  color: #461704;
}

body {
  background-color: rgb(184, 164, 164);
  width: 100%;
  height: 100%;
  
  main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

  h1 {
    color: black;
  }

  section {
    width: 50%;
    height: 80vh;
    margin: auto;
    margin-top:0;

    .machine-container {
      background-color: #ff9f32;
      border: 2px solid #fcfbfaa1;
      border-radius: 3em;
    width: 80%;
      padding: 2rem;
      display: grid;
      grid-template-columns: 2fr 1fr;
      justify-content: space-between;


      .drinks-grid {
        background-color: rgb(92, 92, 73);
        border: 2px solid #fcfbfaa1;
        margin: 0;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-rows: 150px 150px 150px 150px;
        grid-template-columns: 2fr 2fr 2fr;
        gap: 5em 1rem;
        grid-template-areas:
          "item1 item2 item3"
          "item3 item4 item5";

        .drink {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          position: relative;
          border: 2px solid #fcfbfaa1;

          img {
            width: 75px;
            height: 75px;
          }
          
          > p {
            margin-top: 1rem;
            background-color: #fff8ec;
            width: 3rem;
            border-radius: 20px;
            text-align: center;
            font-weight: 600;
          }

          .quantity {
            width: 25px;
            height: 25px;
            font-weight: 700;
            text-align: center;
            border-radius: 50%;
            background-color: #ff9f32;
            position: absolute;
            right: 50px;
            top: 10px;
          }
        }
      }

      .drinks-selection {
        margin: 0 0 0 1.5rem;
        background-color: #dad5ce;
        width: 100%;
        height: 40%;
        grid-area: 1 / 2 / 3 / 3;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .screen {
          border: 2px solid black;
          background-color: #f3f34fda;
          width: 60%;
          height: 20%;
          padding: 10px;
        }

        .buttons-container {
          background-color: gray;
          width: 80%;
          min-height: 40%;
          display: grid;
          grid-template-columns: repeat(3, 1fr) ;
          grid-template-rows: 1fr 1fr 1fr 1fr;
gap: 5px 5px;
        }
      }

      .drink-result-container {
        margin: 0;
        margin-top: 2rem;
        background-color: rgb(122, 118, 118);
        width: 100%;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
          background-color: rgba(199, 182, 182, 0.978);
          width: 80%;
          height: 80%;
          margin: auto;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
   }
}